img.icon {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  padding: 1px;
  margin: 0px 2px 0px 2px;
  vertical-align: bottom;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 15px;
  height: 15px;
}